/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 height: 600px;
 padding : 10px;
}
#header{
 min-height: 120px;
 background-color: green; 
 margin : 25px;

}
#navigation{
 min-height: 300px;
 width: 200px;
 background-color: blue;
 margin: 20px;


}
#main_content{
float: right;
 min-height: 400px;
 width: 700px;
 background-color: red;
 bottom: 320px;
 margin-right: 20px;
 position: relative;
 display: block;
 

}
.subcontents{
 min-height: 200px;
 width: 210px;
 background-color: yellow;
 display:inline-block;
 margin: 10px;
}
#advertisement{
 min-height: 120px;
 width: 680px;
 background-color: purple;
 margin: 10px;
}